@use '~@/styles/themes.scss' as *;

.input {
  width: 100%;
  background-color: $lightBase04;
  padding: 0.75rem;
  border-radius: 0.4rem;
  border: 0.1rem solid;
  border-color: $lightBase03;

  &:focus-visible {
    outline: none;
    box-shadow: none;
    border-color: $lightBase01;

    html:global(.dark) & {
      border-color: $darkBase01;
    }
  }

  html:global(.dark) & {
    background-color: $darkBase04;
    border-color: $darkBase03;
  }
}

.input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
