@use '~@/styles/themes.scss' as *;

.container {
  display: block;

  color: rgba(var(--shiki-color-text), var(--tw-text-opacity));

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.disabledDescription {
  font-style: italic;
  color: rgba(var(--shiki-color-text), var(--tw-text-opacity));
}

.contentContainer {
  border: 0.1rem solid;
  border-color: $lightBase03;
  border-radius: 0.625rem;
  margin-top: 1.25rem;
  padding: 1.25rem;
  background-color: $lightBase05;

  html:global(.dark) & {
    background-color: $darkBase05;
    border-color: $darkBase03;
  }

  @media (max-width: 768px) {
    padding: 0.5rem 0.7rem;
  }
}

.method {
  color: var(--shiki-token-constant);
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.625rem;

  width: 100%;
  padding-top: 1.25rem;
}

.loading {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  border-top: 0.1rem solid;
  border-color: $lightBase03;

  html:global(.dark) & {
    border-color: $darkBase03;
  }

  @media (max-width: 768px) {
    margin-top: 0.7rem;
    padding-top: 0.7rem;

    font-size: 0.8rem;
  }
}
