@use '~@/styles/themes.scss' as *;

.container {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  border-top: 0.1rem solid;
  border-color: $lightBase03;

  html:global(.dark) & {
    border-color: $darkBase03;
  }

  @media (max-width: 768px) {
    margin-top: 0.7rem;
    padding-top: 0.7rem;
  }
}

.sectionContent {
  margin-bottom: 1.25rem;
}

.error {
  margin: 0 0.5rem 1rem;

  font-weight: 600;
  color: $red01;

  @media (max-width: 768px) {
    margin-bottom: 0.7rem;

    font-size: 0.75rem;
  }
}
