@use '~@/styles/themes.scss' as *;

.container {
  background-color: $lightBase04;
  max-height: 30rem;
  overflow: auto;
  padding: 0.5rem;
  margin: 0 0.25rem;
  border: 0.1rem solid;
  border-color: $lightBase03;
  border-radius: 0.4rem;

  font-size: 0.875rem;

  html:global(.dark) & {
    background-color: $darkBase04;
    border-color: $darkBase03;
  }

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }

  & > .basicChildStyle {
    margin: 0;
  }
}

.basicChildStyle {
  margin-top: 0.2rem;
  margin-left: 1.7rem;
  line-height: 1.1rem;
}

.expander {
  margin-right: 0.3rem;
}

.label {
  margin-right: 0.3rem;

  font-weight: bold;
}

.nullValue {
  color: var(--shiki-color-ansi-bright-blue);
}

.undefinedValue {
  color: var(--shiki-color-ansi-bright-blue);
}

.numberValue {
  color: var(--shiki-color-ansi-bright-red);
}

.stringValue {
  color: var(--shiki-token-string);
}

.booleanValue {
  color: var(--shiki-color-ansi-bright-magenta);
}

.otherValue {
  color: var(--shiki-token-string-expression);
}

.punctuation {
  margin-left: 0.8rem;

  font-weight: bold;

  & + &,
  span + & {
    margin-left: 0;
  }
}

.pointer {
  font-size: 1rem;
}
