/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
    --ifm-color-primary: #5651f1;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
    --ifm-font-color-secondary: #7a8386;
  }
  
  .theme-edit-this-page {
    display: none;
  }
  
  /* For readability concerns, you should choose a lighter palette in dark mode. */
  [data-theme='dark'] {
    --ifm-color-primary: #5651f1;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
  }
  
  [data-theme='dark'] .menu {
    background-color: #1e1e1e;
  }
  
  [data-theme='light'] .menu {
    background-color: #faf9f8;
  }
  
  [data-theme='dark'] .docs-doc-page {
    background-color: #2d2d2d;
  }
  
  [data-theme='dark'] .navbar {
    background-color: #2d2d2d;
    border-bottom: 1px solid #7a8386;
  }
  
  .subtitleWrapper {
    margin-left: 16px;
    font-weight: 500;
    color: #7a8386;
  }
  
  .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
  }
  
  [data-theme='dark'] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  h3 {
    font-size: 18px;
    font-weight: 700;
  }
  
  h4 {
    font-size: 16px;
    font-weight: 500;
  }
  
  .menu__link {
    display: flex;
    padding: 8px;
  }