$darkBase01: #f1f5f9;
$darkBase02: #9ca3af;
$darkBase03: #414141;
$darkBase04: #33393d;
$darkBase05: #1d2428;

$lightBase01: #374151;
$lightBase02: #6b7280;
$lightBase03: #e5e7eb;
$lightBase04: #f2f2f2;
$lightBase05: #f2f7fc;

$green01: #4bb74a;
$red01: #f97583;
$blue01: #79b8ff;
$purple01: #6f42c1f4;
